
@{
    ViewBag.Title = "Index";
}
<h1>Home</h1>
<center>
    
    

    <h2>Welcome to the sport registration site.................</h2>
    <p>
        @Html.ActionLink("register now", "Register")
    </p>
    <h4>Already registered...   Then Login Now</h4>
    <p>
        @Html.ActionLink("Login", "Login")
    </p>
</center>


